# What will be the output of the following code snippet?
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

In [1]:
# o/p: 13579
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

# What are the ways you can create a lists and tuples?

In [3]:
lst1 = []
lst2 = list()
print(type(lst1))
print(type(lst2))
print(20*"*")
tpl1 = ()
tpl2 = tuple()
print(type(tpl1))
print(type(tpl2))

<class 'list'>
<class 'list'>
********************
<class 'tuple'>
<class 'tuple'>

# Can lists and tuples have heterogeneous and hemogeneous data objects? Give me an example?

 LIST: The items stored can be of any type numeric, string, boolean, objects, etc which makes it **heterogeneous**.<br/>
 This means that a list can have any type of data and we can iterate over this list using any type of loop. <br/>
 The elements stored are usually associated with an index that defines the position in the list.<br/>
 Lists are mutable sequences, typically used to store collections of **homogeneous** items

In [16]:
lst = [ 1,2,3,'a','b','c',True,False,None,[10,20],{"name":"navnath"},{1,3,5},(9,8,7)]
print(lst)

[1, 2, 3, 'a', 'b', 'c', True, False, None, [10, 20], {'name': 'navnath'}, {1, 3, 5}, (9, 8, 7)]

TUPLE: Tuples can store both heterogeneous and **homogeneous** data but are generally used to store collections of **heterogeneous** elements.

In [18]:
tpl = [ 1,2,3,'a','b','c',True,False,None,[10,20],{"name":"navnath"},{1,3,5},(9,8,7)]
print(tpl)

[1, 2, 3, 'a', 'b', 'c', True, False, None, [10, 20], {'name': 'navnath'}, {1, 3, 5}, (9, 8, 7)]

# List out the differences between a list and a tuple?

|SR.NO.|	LIST	|TUPLE|
|---|---|---|
|1	|Lists are mutable	|Tuples are immutable|
|2	|Implication of iterations is Time-consuming	|The implication of iterations is comparatively Faster|
|3	|The list is better for performing operations, such as insertion and deletion.	|Tuple data type is appropriate for accessing the elements|
|4	|Lists consume more memory	|Tuple consume less memory as compared to the list|
|5	|Lists have several built-in methods	|Tuple does not have many built-in methods.|
|6	|The unexpected changes and errors are more likely to occur	|In tuple, it is hard to take place.|

# How to determine the size of your lists?

In [19]:
# using len function
lst = [ 1,2,3,'a','b','c',True,False,None,[10,20],{"name":"navnath"},{1,3,5},(9,8,7)]
print(len(lst))

13

# Consider the below list:
lst = [10, 20, [30, [40, 50], 60], 70, [80]] <br/>
Take out the elements 60, 80 by using the corresponding index values and add the numbers,
display the result?

In [20]:
lst = [10, 20, [30, [40, 50], 60], 70, [80]]
add = lst[2][-1] + lst[-1][-1]
print(add)

140

# What is the difference between append() and extend()? How do they work? Demonstrate with an example?

### Append
It adds an element at the end of the list. The argument passed in the append function is added as a single element at end of the list and the length of the list is increased by 1

In [21]:
l = []
l.append("NAVNATH")
print(l)

['NAVNATH']

### Extend
This method appends each element of the iterable (tuple, string, or list) to the end of the list and increases the length of the list by the number of elements of the iterable passed as an argument.

In [22]:
l

['NAVNATH']

In [24]:
l.extend((12345,))
print(l)

['NAVNATH', 12345]

In [25]:
l.extend([12345])
print(l)

['NAVNATH', 12345, 12345]

In [26]:
l.extend('12345')
print(l)

['NAVNATH', 12345, 12345, '1', '2', '3', '4', '5']

### Insert
This method can be used to insert a value at any desired position. It takes two arguments-element and the index at which the element has to be inserted.

In [27]:
l

['NAVNATH', 12345, 12345, '1', '2', '3', '4', '5']

In [28]:
l.insert(1,"SATRE")
print(l)

['NAVNATH', 'SATRE', 12345, 12345, '1', '2', '3', '4', '5']

# How to concatenate lists?

In [31]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

# using for loop
for i in lst2:
    lst1.append(i)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

# using + operator
new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

#using list comprehension
new_lst = [y for x in [lst1, lst2] for y in x]
print(new_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

#using extend
lst1.extend(lst2)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

#usong * operator
new_lst = [*lst1, *lst2]
print(new_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# How to sort a list?

In [46]:
lst = [7,5,3,90,8,77]
lst.sort() # inplace=True
print(lst)

[3, 5, 7, 8, 77, 90]

In [48]:
lst = [7,5,3,90,8,77]
print(sorted(lst)) # inplace=Flase
print(lst)

[3, 5, 7, 8, 77, 90]
[7, 5, 3, 90, 8, 77]

# How to count occurances of a list item?

In [55]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = int(input("Which count: "))
#using for loop
def countX (lst, x):
    count = 0
    for i in lst:
        if i == x:
            count = count + 1
    return count

print('{} occurred {} times'.format(x,countX(lst, x)))

Which count: 10
10 occurred 2 times

# How do you remove an element from a list?

In [59]:
lst = [ 1,2,3,'a','b','c',True,False,None,[10,20],{"name":"navnath"},{1,3,5},(9,8,7)]

In [60]:
# using remove
lst.remove(None)

In [61]:
print(lst)

[1, 2, 3, 'a', 'b', 'c', True, False, [10, 20], {'name': 'navnath'}, {1, 3, 5}, (9, 8, 7)]

In [62]:
# using pop
lst.pop(-3)

{'name': 'navnath'}

In [63]:
print(lst)

[1, 2, 3, 'a', 'b', 'c', True, False, [10, 20], {1, 3, 5}, (9, 8, 7)]

In [64]:
# using del
del lst[6]

In [65]:
print(lst)

[1, 2, 3, 'a', 'b', 'c', False, [10, 20], {1, 3, 5}, (9, 8, 7)]

# .Consider the below list:
lst = [10, 20, 30, 40, 50, 60, 70, 80] <br/>
Help me to insert 15 in between 10 and 20, 45 in between 40 and 50

In [68]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
lst.insert(1, 15)
lst.insert(5, 45)

In [69]:
print(lst)

[10, 15, 20, 30, 40, 45, 50, 60, 70, 80]

# How do you copy a list from another?

In [70]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
new_lst = lst[:]

In [71]:
print(new_lst)

[10, 20, 30, 40, 50, 60, 70, 80]

In [72]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
new_lst = lst.copy()

In [73]:
print(new_lst)

[10, 20, 30, 40, 50, 60, 70, 80]

In [74]:
import copy
lst = [10, 20, 30, 40, 50, 60, 70, 80]
new_lst = copy.copy(lst)

In [75]:
print(new_lst)

[10, 20, 30, 40, 50, 60, 70, 80]

# Demonstrate the difference between shallow and deep copy? How do they work?

|Shallow Copy	|Deep Copy|
|---|---|
|Shallow Copy stores the references of objects to the original memory address.   	|Deep copy stores copies of the object’s value.|
|Shallow Copy reflects changes made to the new/copied object in the original object.	|Deep copy doesn’t reflect changes made to the new/copied object in the original object.|
|Shallow Copy stores the copy of the original object and points the references to the objects.	|Deep copy stores the copy of the original object and recursively copies the objects as well.|
|Shallow copy is faster.	|Deep copy is comparatively slower.|

# Consider the below list:
lst = [10, 20, 30, 40, 50, 60, 70, 80] <br/>
How do you sort the list in descending order?

In [76]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
lst.sort(reverse=True)

In [78]:
print(lst)

[80, 70, 60, 50, 40, 30, 20, 10]

# Consider the below list:
lst = [10, 20, 30, 40, 50, 60, 70, 80] <br/>
What will be output of the below:<br/>
lst.index(100)

In [80]:
# ValueError
lst = [10, 20, 30, 40, 50, 60, 70, 80]
lst.index(100)

ValueError: 100 is not in list

# How do you find minimum and maximum element/number of a list?

In [92]:
lst = [9,1,5,8,3,2,10,4,2]
max_num = lst[0]
for i in lst:
    if i > max_num:
        max_num = i
print(max_num)

min_num = lst[0]
for j in lst:
    if j < min_num:
        min_num = j
print(min_num)

10
1

In [93]:
lst = [9,1,5,8,3,2,10,4,2]
print(max(lst))
print(min(lst))

10
1

# Create a list as below:
[‘Python’, ‘is’, ‘a’, ‘high’, ‘level’, ‘language’] <br/>
For the above list, display the result as <br/>
‘PYTHON-IS-A-HIGH-LEVEL-LANGUAGE’

In [99]:
lst = ['Python', 'is', 'a', 'high', 'level', 'language']
new_lst = '-'.join(lst).upper()

In [100]:
print(new_lst)

PYTHON-IS-A-HIGH-LEVEL-LANGUAGE

# Consider the below list:
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200] <br/>
Create 4 lists. First list having 10 to 50, the second one having 60 to 100 and third list with 110
to 150 and fourth list with the remaining

In [126]:
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]
lst1=[]
lst2=[]
lst3=[]
lst4=[]

lst1.extend(lst[:5])
lst2.extend(lst[5:10])
lst3.extend(lst[10:15])
lst4.extend(lst[15:])

print(lst1)
print(lst2)
print(lst3)
print(lst4)

[10, 20, 30, 40, 50]
[51, 60, 70, 80, 90]
[100, 110, 120, 130, 140]
[150, 160, 170, 180, 190, 200]

# List down all the methods used in list and tuple?

LIST:<BR/>'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

TUPLE:<BR/>
'count',
 'index'