# Bitwise Operators:

## If “a = 60” and “b = 13”, what will be the value of “c” after executing the below statements? How?


|Operation| Result of “c”|
|---|---| 
|c = a & b| |
|c = a \| b| |
|c = a ^ b| |
|c = a << 2| |
|c = a >> 2| |

In [1]:
a = 60
b = 13

In [2]:
c = a & b # Bitwise AND operator: Returns 1 if both the bits are 1 else 0.
# a = 111100 = 60
# b = 001101 = 13
# c = 001100 = 12
print(c)

12

In [12]:
c = a | b # Bitwise or operator: Returns 1 if either of the bit is 1 else 0.
# a = 111100 = 60
# b = 001101 = 13
# c = 111101 = 61
print(c)

61

In [17]:
c = a ^ b # Bitwise xor operator: Returns 1 if one of the bits is 1 and the other is 0 else returns false.
# a = 111100 = 60
# b = 001101 = 13
# c = 110001 = 49
print(c)

49

In [26]:
c = a << 2 # Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.
# a    = 0011 1100 = 60
# a<<2 = 1111 0000 = 240
print(c)

240

In [32]:
c = a >> 2 # Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result. 
# Similar effect as of dividing the number with some power of two.
# a    = 0011 1100 = 60
# a>>2 = 0000 1111 = 15
print(c)

15

# Membership Operators:

## Create a list “new_list” with values from from 1 to 10.
new_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Check if the value “6” is present in the list or not. If its present, display “6 IS
PRESENT”, otherwise display “6 IS NOT PRESENT”

In [34]:
new_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
if 6 in new_list:
    print("6 IS PRESENT")
else:
    print("6 IS NOT PRESENT")

6 IS PRESENT

# Arithmetic Operators:

## Display the quotient, reminder for the number 15, if it is divided by 2?

In [36]:
q = 15 // 2
r = 15 % 2
print("Quotient is: ",q)
print("Remainder is: ",r)

Quotient is:  7
Remainder is:  1

# if ... else questions:

## Take two integer values from the user and print greatest among them?

In [37]:
num1 = int(input("Enter the value for num1: "))
num2 = int(input("Enter the value for num2: "))
if num1 > num2:
    print('Greatest is: ',num1)
else:
    print('Greatest is: ',num2)

Enter the value for num1: 32
Enter the value for num2: 56
Greatest is:  56

## A shop is giving discount of 20%, if the cost of purchased quantity is more than Rs.2000.
o Ask user for quantity </br>
o Consider, one unit will cost Rs.100 </br>
o Calculate and display total cost for the user

In [40]:
q = float(input("Enter quentity price: "))
if q > 2000:
    q = q - 20*q/100
else:
    q
print("Your Total cost is: ",q)

Enter quentity price: 2324
Your Total cost is:  1859.2

## A company decided to give bonus of 4% to employees if his/her year of service is more than 5 years.
o Ask user for their salary and year of service and print ONLY the net bonus amount

In [41]:
s = float(input("Enter your annual salary: "))
y = float(input("Enter no of years: "))
if y > 5:
    s = 4*s/100
    print("Your bonus amount is: ",s)
else:
    print("No Bonus")

Enter your annual salary: 400000
Enter no of years: 6
Your bonus amount is:  16000.0

## A school has following rules for grading system:
a. Below 25 - F</br>
b. 25 to 45 - E</br>
c. 45 to 50 - D</br>
d. 50 to 60 - C</br>
e. 60 to 80 - B</br>
f. Above 80 - A</br>
o Ask sttudent to enter his/her marks and display the corresponding grade.

In [45]:
m = int(input("Enter your marks: "))
if m <= 25:
    print("Your grade is: F")
elif m > 25 and m <= 45:
    print("Your grade is: E")
elif m > 45 and m <= 50:
    print("Your grade is: D")
elif m > 50 and m <= 60:
    print("Your grade is: C")
elif m > 60 and m <= 80:
    print("Your grade is: B")
else:
    print("Your grade is: A")

Enter your marks: 87
Your grade is: A

## Take input of age of 3 people and determine oldest and youngest among them

In [56]:
a = int(input("Enter the age for a: "))
b = int(input("Enter the age for b: "))
c = int(input("Enter the age for c: "))
if (a > b and a > c):
    print("a is oldest")
elif (b > c and b > a):
    print("b is oldest")
else:
    print("c is oldest")
if (a <= b and a <= c):
    print("a is youngest")
elif(b <= c and b <= a):
    print("b is youngest")
else:
    print("c is youngest")

Enter the age for a: 43
Enter the age for b: 65
Enter the age for c: 87
c is oldest
a is youngest

# Loop questions:

## Using “FOR” loop and “RANGE”, display the numbers 1 to 10 in ONE line?

In [57]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

## Use the WHILE loop and perform the below:
o DO NOT display / OMIT the number , when it is divisible by 2. Otherwise display
the number </br>
o Ask the user to input any value and display. Come out of the loop, when the user
enters “EXIT”

In [86]:
num = int(input("Enter any number: "))
while True:
    if num % 2 != 0:
        print("Your number is :", num)
        break
    else:
        print(20*"~")
        break

Enter any number: 2342
~~~~~~~~~~~~~~~~~~~~

In [87]:
while True:
    v = input("Enter any value: ")
    print(v)
    if v.casefold() == 'EXIT':
        break

Enter any value: svzxx
svzxx
Enter any value: vdsxvs
vdsxvs
Enter any value: vsdzv
vsdzv
Enter any value: hadsga
hadsga
Enter any value: EXIT
EXIT

## Print 1 to 10 numbers using while loop (Each number should be displayed in a different line)

In [89]:
n = 1
while n <= 10:
    print(n)    
    n += 1

1
2
3
4
5
6
7
8
9
10

## Print 1 to 10 numbers using while loop (Each number should be displayed in the same/one line)

In [90]:
n = 1
while n <= 10:
    print(n,end=' ')
    n = n + 1

1 2 3 4 5 6 7 8 9 10

## Print the following pattern using FOR loops.
1 </br>
1 2</br>
1 2 3</br>
1 2 3 4</br>
1 2 3 4 5

In [94]:
row = 5
for i in range(row):
    for j in range(i+1):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5