# difference between get() and setdefault() in dictionary?

The only difference is that setdefault() automatically adds any new key with a default value in the dictionary while get() does not

get(key[, default])<br>
Return the value for key if key is in the dictionary, else default. If default is not given, it defaults to None, so that this method never raises a KeyError.
#
setdefault(key[, default])<br>
If key is in the dictionary, return its value. If not, insert key with a value of default and return default. default defaults to None.

In [2]:
myDict = {'A': 'GOD', 'B':'Is', 'C':'GOOD'} #(1)
myDict.setdefault('C')  #(2)

'GOOD'

In [3]:
myDict.setdefault('C','GREAT')  #(3)

'GOOD'

In [4]:
myDict.setdefault('D','AWESOME') #(4)

'AWESOME'

In [5]:
myDict

{'A': 'GOD', 'B': 'Is', 'C': 'GOOD', 'D': 'AWESOME'}

In [6]:
myDict.setdefault('E')

In [7]:
myDict

{'A': 'GOD', 'B': 'Is', 'C': 'GOOD', 'D': 'AWESOME', 'E': None}

In [8]:
myDict = {'a': 1, 'b': 2, 'c': 3}   #(1)
myDict.get('a',0)

1

In [9]:
myDict.get('d',0)

0

In [10]:
myDict

{'a': 1, 'b': 2, 'c': 3}

# How to erase out all elements in a dictionary?

Remove() and Dictionary. Clear() methods are used to remove elements of the collection. The Remove method removes elements matching with the key passed in the Remove method. The Clear method removes all elements from the dictionary

In [12]:
myDict

{'a': 1, 'b': 2, 'c': 3}

In [13]:
myDict.clear()

In [14]:
myDict

{}

# How to create a set?

A set is created by placing all the items (elements) inside curly braces {} , separated by comma, or by using the built-in set() function. It can have any number of items and they may be of different types (integer, float, tuple, string etc.).

In [15]:
myset1 = {1,2.3,None,True,(1,2,3)}
print(type(myset1))

<class 'set'>

In [17]:
myset2 = set([10,20,30])
print(type(myset2))

<class 'set'>

# How do you find count of elements in a set?

The most straightforward way to get the number of elements in a list is to use the Python built-in function len() . As the name function suggests, len() returns the length of the list, regardless of the types of elements in it.

In [20]:
set1 = {1,2,3,4,5,6,7}

In [21]:
print(len(set1))

7

# Find the maximum and minimum values in a set?

In [25]:
myset = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
myset

{1, 3, 8, 10, 16, 24, 25, 55, 65}

In [26]:
max(myset)

65

In [27]:
min(myset)

1

# Difference between remove() and discard(). Explain with an example set?

The discard() method removes the specified item from the set. This method is different from the remove() method, because the **remove() method will raise an error** if the specified item does not exist, and the discard() method will not.

In [29]:
myset

{1, 3, 8, 10, 16, 24, 25, 55, 65}

In [30]:
myset.discard(2)

In [31]:
myset

{1, 3, 8, 10, 16, 24, 25, 55, 65}

In [32]:
myset.remove(2) #error if ele not

KeyError: 2

# If I want to delete the first element of the set, how do you achieve it?

The pop() is an inbuilt method in Python that is used to pop out or remove the elements one by one from the set. The element that is the smallest in the set is removed first followed by removing elements in increasing order.

In [33]:
myset

{1, 3, 8, 10, 16, 24, 25, 55, 65}

In [38]:
myset.pop()

1

In [39]:
myset

{3, 8, 10, 16, 24, 25, 55, 65}

# How do you check all elements of a set (a = {1, 3, 5}) is present in another set (b = {1, 2, 3, 4, 5})

The issubset() method returns True if all elements of a set are present in another set (passed as an argument). If not, it returns False. Set A is said to be the subset of set B if all elements of A are in B . Here, set A is a subset of B

In [40]:
a = {1, 3, 5}
b = {1, 2, 3, 4, 5}
a.issubset(b)

True

# How to add a single element to a set?

The set add() method adds a given element to a set if the element is not present in the set. Syntax: set. add(elem) The add() method doesn't add an element to the set if it's already present in it otherwise it will get added to the set

In [41]:
myset

{3, 8, 10, 16, 24, 25, 55, 65}

In [42]:
myset.add(2)

In [43]:
myset

{2, 3, 8, 10, 16, 24, 25, 55, 65}

# How to include multiple elements in a single go to a set?

In [44]:
myset

{2, 3, 8, 10, 16, 24, 25, 55, 65}

In [45]:
myset.update([1.1,1.2,1.3])

In [46]:
myset

{1.1, 1.2, 1.3, 2, 3, 8, 10, 16, 24, 25, 55, 65}

#  By using dictionary comprehension, create a dictionary for even only numbers (for a range (1,51) with 'number' as key and also 'number' as value?

In [54]:
print({k:v for k, v in enumerate(range(1,51)) if v%2==0},end=' ')

{1: 2, 3: 4, 5: 6, 7: 8, 9: 10, 11: 12, 13: 14, 15: 16, 17: 18, 19: 20, 21: 22, 23: 24, 25: 26, 27: 28, 29: 30, 31: 32, 33: 34, 35: 36, 37: 38, 39: 40, 41: 42, 43: 44, 45: 46, 47: 48, 49: 50}

In [55]:
print({x: 2*x for x in range(1, 51)}, end=' ')

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48, 25: 50, 26: 52, 27: 54, 28: 56, 29: 58, 30: 60, 31: 62, 32: 64, 33: 66, 34: 68, 35: 70, 36: 72, 37: 74, 38: 76, 39: 78, 40: 80, 41: 82, 42: 84, 43: 86, 44: 88, 45: 90, 46: 92, 47: 94, 48: 96, 49: 98, 50: 100}

# Create a script to create a union of sets?

In [57]:
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7,8}
def union_of_set(set1,set2):
    union = set1.union(set2)
    return union

In [58]:
union_of_set(set1,set2)

{1, 2, 3, 4, 5, 6, 7, 8}

# How do you iterate over a set with enumerate()?

In [61]:
set_ = set("NAVNATH")
set_

{'A', 'H', 'N', 'T', 'V'}

In [63]:
for id, value in enumerate(set_, start=1):
    print(id, value)

1 H
2 V
3 T
4 A
5 N

# How to clear a set?

Set. clear() method is used to remove all the elements from a Set. Using the clear() method only clears all the element from the set and not deletes the set. In other words, we can say that the clear() method is used to only empty an existing Set.

In [64]:
myset

{1.1, 1.2, 1.3, 2, 3, 8, 10, 16, 24, 25, 55, 65}

In [65]:
myset.clear()

In [66]:
myset

set()

# Write a program to check if a given value is present in a set or not?

In [72]:
myset = {1.1, 1.2, 1.3, 2, 3, 8, 10, 16, 24, 25, 55, 65}
value = float(input("Which value you want to check: "))
def check_value_in_set(value):
    if value in myset:
        print("Yes {} in set".format(value))
    else:
        print("Not in set")
check_value_in_set(value)

Which value you want to check: 5
Not in set