# How to find the index of the first occurrence of a substring/character in a string?

In [1]:
string = '''Consultations among various Opposition leaders to decide on 
putting up a joint candidate for the upcoming Presidential elections
against the NDA nominee gathered pace Tuesday, even as NCP chief 
Sharad Pawar has made it clear that he was not inclined to contest.'''

In [5]:
string.find('to')

47

# Calculate the total number of characters in a string?

In [16]:
count = 0 
for i in range(0,len(string)):
    if (string[i] != ''):
        count = count + 1
print(count)

263

In [21]:
data = list(set(string.split(' ')))
for i in data:
    print(i,'==>',string.count(i))

leaders ==> 1
was ==> 1
gathered ==> 1
even ==> 1

Sharad ==> 1
made ==> 1
candidate ==> 1
as ==> 3
he ==> 4
pace ==> 1
Opposition ==> 1
decide ==> 1
chief ==> 1
Consultations ==> 1
inclined ==> 1
has ==> 1
clear ==> 1
up ==> 2
that ==> 1
a ==> 23
not ==> 1
Pawar ==> 1
among ==> 1
on ==> 7

putting ==> 1
for ==> 1
Tuesday, ==> 1
contest. ==> 1
joint ==> 1
NCP ==> 1
various ==> 1
the ==> 3
Presidential ==> 1
it ==> 2
nominee ==> 1
upcoming ==> 1
to ==> 2
elections
against ==> 1
NDA ==> 1

# How to obtain the number of a specific character/ substring in a string?

In [22]:
string

'Consultations among various Opposition leaders to decide on \nputting up a joint candidate for the upcoming Presidential elections\nagainst the NDA nominee gathered pace Tuesday, even as NCP chief \nSharad Pawar has made it clear that he was not inclined to contest.'

In [31]:
char = input("Enter character: ")
string.count(char)

Enter character: or

1

# Check whether if a string contains only numbers?

In [34]:
str1 = "123456789"
str2 = "1a2b3c4d"
if str1.isdigit():
    print("str1 contains all numbers")
else:
    print("str1 does not contains all numbers")
if str2.isdigit():
    print("str2 contains all numbers")
else:
    print("str2 does not contains all numbers")

str1 contains all numbers
str2 does not contains all numbers

# Split a string by using a specific character?

In [35]:
str1 = "I am a data scientist in bangalore"
str1.split('a')

['I ', 'm ', ' d', 't', ' scientist in b', 'ng', 'lore']

# How to check if a string is composed of all lower case characters?

In [36]:
str1

'I am a data scientist in bangalore'

In [37]:
if str1.islower():
    print("Yes All lower case characters")
else:
    print("Not all lower case")

Not all lower case

# How to check if a string is composed of all upper case characters?

In [38]:
if str1.isupper():
    print("Yes All upper case characters")
else:
    print("Not all upper case")

Not all upper case

# Check if the first character in a string has a lowercase value?

In [39]:
str1

'I am a data scientist in bangalore'

In [40]:
if str1[0].islower():
    print("Yes")
else:
    print("No")

No

# Can I add an integer with a string in Python?

In [ ]:
'''
Python doesn't know how to add a word and a number, 
so it says "cannot concatenate 'str' and 'int' objects." 
A word that you put in quotes is just a string of letters called a "str" in python.
Numbers that don't have a decimal point are integers and are called "int" in python. 
You can't add a str and an int.
'''

In [41]:
str1

'I am a data scientist in bangalore'

In [42]:
str1 + 10

TypeError: can only concatenate str (not "int") to str

# If I multiply a string with a number, will it be accepted by Python? What will be the outcome?

In [ ]:
'''
When you multiply a string by an integer, Python returns a new string.
This new string is the original string, 
repeated X number of times (where X is the value of the integer).'''

In [43]:
str1*3

'I am a data scientist in bangaloreI am a data scientist in bangaloreI am a data scientist in bangalore'

# How to reverse a string using string slicing method?

In [1]:
str2 = 'Sachin Pilot Detained Outside Congress Office Amid Rahul Gandhi Protests'
str2[::-1]

'stsetorP ihdnaG luhaR dimA eciffO ssergnoC edistuO deniateD toliP nihcaS'

# How to join list of strings/characters in to a single string, delimited by hyphens?

In [4]:
lst = ['A','B','C','D','E','F']
mystr = '-'.join(lst)
print(type(mystr))
print(mystr)

<class 'str'>
A-B-C-D-E-F

# How to convert a string from upper to lower case and vice versa?

In [5]:
str1 = "SATRE NAVNATH BHAUSAHEB"
str1 = str1.lower()
print(str1)

satre navnath bhausaheb

In [6]:
str2 = 'satre navnat bhausaheb'
str2 = str2.upper()
print(str2)

SATRE NAVNAT BHAUSAHEB

# How to make first and last character of a string to upper case? For example, ‘python’ should be converted as ‘PythoN’

In [22]:
mystr = input("Enter your string: ")
str1 = mystr[0:1].upper()
str2 = mystr[-1].upper()
new_str = str1 + mystr[1:-1] + str2
print("Your str is: ",new_str)

Enter your string: python
Your str is:  PythoN

# How do you convert an integer to a string value?

In [25]:
num = int(input("Enter number: "))
print("No in String is : ", str(num))
print(type(str(num)))

Enter number: 10
No in String is :  10
<class 'str'>

# Check and ensure that the string contains only alphabets?

In [26]:
str1 = input("Enter string: ")
if str1.isalpha():
    print("Only alphabets")
else:
    print("Not only alphabets")

Enter string: dgaesgs
Only alphabets

# How do you replace all instances of a substring in a string?

In [29]:
str2 = 'Sachin Pilot Detained Outside Congress Office Amid Rahul Gandhi Protests'
str1 = 'Soniya'
str3 = str2.replace("Rahul", str1)
print(str3)

Sachin Pilot Detained Outside Congress Office Amid Soniya Gandhi Protests

# For a given string/strings, return the minimum and maximum character/string?

In [8]:
string = 'Sachin Pilot Detained Outside Congress Office Amid Rahul Gandhi Protests'
freq = [None] * len(string);  
minChar = string[0];  
maxChar = string[0];  

#Count each word in given string and store in array freq  
for i in range(0, len(string)):  
    freq[i] = 1;  
    for j in range(i+1, len(string)):  
        if(string[i] == string[j] and string[i] != ' ' and string[i] != '0'):  
            freq[i] = freq[i] + 1;  

            #Set string[j] to 0 to avoid printing visited character  
            string = string[ : j] + '0' + string[j+1: ];  
              
#Determine minimum and maximum occurring characters  
min = max = freq[0];  
for i in range(0, len(freq)):  
      
    #If min is greater than frequency of a character  
    #then, store frequency in min and corresponding character in minChar  
    if(min > freq[i] and freq[i] != '0'):  
        min = freq[i];  
        minChar = string[i];  
    #If max is less than frequency of a character   
    #then, store frequency in max and corresponding character in maxChar  
    if(max < freq[i]):  
        max = freq[i];  
        maxChar = string[i];  
   
print("Minimum occurring character: " + minChar);  
print("Maximum occurring character: " + maxChar);

Minimum occurring character: S
Maximum occurring character: i

# How to check whether the string contains alpha numeric value?

In [11]:
mystr = '''East Coast Express, Rajkot Express, and Ajanta Express were set on fire by violent mobs.
At least 71 trains - 65 from Hyderabad Multi-Modal Transport System and six express - have been cancelled so far.'''
mystr.isalnum()

False

# When a string contains whitespace/space, how to remove them from the left, right or both sides of a string?

In [16]:
mystr = '''   East Coast Express, Rajkot Express, and Ajanta Express were set on fire by violent mobs.
At least 71 trains - 65 from Hyderabad Multi-Modal Transport System and six express - have been cancelled so far.  '''
mystr.lstrip()

'East Coast Express, Rajkot Express, and Ajanta Express were set on fire by violent mobs.\nAt least 71 trains - 65 from Hyderabad Multi-Modal Transport System and six express - have been cancelled so far.  '

In [17]:
mystr.rstrip()

'   East Coast Express, Rajkot Express, and Ajanta Express were set on fire by violent mobs.\nAt least 71 trains - 65 from Hyderabad Multi-Modal Transport System and six express - have been cancelled so far.'

In [18]:
mystr.strip()

'East Coast Express, Rajkot Express, and Ajanta Express were set on fire by violent mobs.\nAt least 71 trains - 65 from Hyderabad Multi-Modal Transport System and six express - have been cancelled so far.'

# Check if a string begins with or ends with a specific character?

In [35]:
mystr = '''East Coast Express, Rajkot Express, and Ajanta Express were set on fire by violent mobs.
At least 71 trains - 65 from Hyderabad Multi-Modal Transport System and six express - have been cancelled so far'''
char = input("Check begins or ends Character:")
if mystr[0:1].casefold() == char.casefold() or mystr[-1].casefold() == char.casefold():
        print("Yes Your string begines/ ends with your character: ",char.casefold())
else:
    print("No not start/end with your character")

Check begins or ends Character:R
Yes Your string begines/ ends with your character:  r

# How to concatenate two/more strings as a single one?

In [37]:
str1 = "East Coast Express, Rajkot Express"
str2 = "Ajanta Express were set on fire by violent mobs"
mystr = str1 +" "+ str2
print(mystr)

East Coast Express, Rajkot Express Ajanta Express were set on fire by violent mobs

# Capitalize the first character of each word in a string?

In [41]:
str1 = "East coast express, rajkot express"
str1.title()

'East Coast Express, Rajkot Express'

# What does it mean for strings to be immutable in Python?

In [42]:
#In python, the string data types are immutable. Which means a string value cannot be updated.
#We can verify this by trying to update a part of the string which will led us to an error.
str1 = "NAVNATH"
str1[-1] = 'A' # Error

TypeError: 'str' object does not support item assignment

# Give an example of using maketrans() and translate()

In [ ]:
# maketrans: Return a translation table usable for str.translate().

# If there is only one argument, it must be a dictionary mapping Unicode
# ordinals (integers) or characters to Unicode ordinals, strings or None.
# Character keys will be then converted to ordinals.
# If there are two arguments, they must be strings of equal length, and
# in the resulting dictionary, each character in x will be mapped to the
# character at the same position in y. If there is a third argument, it
# must be a string, whose characters will be mapped to None in the result.

In [56]:
str1 = "W~a!m@a#r$t"
temp = str1.maketrans('~!@#$','     ') #char by char
temp # o/p in dictionary

{126: 32, 33: 32, 64: 32, 35: 32, 36: 32}

In [54]:
str1.translate(temp) #i/p dict or srting

'W a m a r t'

# When would you use rfind()?

In [57]:
# Python rfind() function is used to return the highest index value of the last occurrence of the substring
# from the input string; else it returns -1. The Python rfind() is an in-built string method that returns
# the index position of the character if found; else it returns value -1.

In [58]:
txt = 'Will you text? Or should I text? Is it okay to text?'

print("The position of 'text' using find():", txt.find('text'))#find() returns the index position of the element’s first occurrence
print("The position of 'text' using rfind():", txt.rfind('text'))#rfind() returns the highest index (from the right) for the provided substring,

The position of 'text' using find(): 9
The position of 'text' using rfind(): 47

In [59]:
# Python program to illustrate rfind()
txt = 'I am currently pursuing Masters i.e. MBA in Finance'

# start search from index position 25
print(txt.rfind('ur', 10))

# start and end search from index position 5 to 30
print(txt.rfind('M', 5, 30))

# start and end search from index position 10 to 20
print(txt.rfind('in', 10, 20))

16
24
-1

# What is the effect of multiplying a string by 3?

In [61]:
#The string is concatenated together 3 times.
mystr = 'NAVNATH'
print(mystr*3)

NAVNATHNAVNATHNAVNATH

# If I use splitlines() on the below, what will be the output?
sentence = "It was a stormy night\nThe house creeked\nThe wind blew."

In [62]:
#Return a list of the lines in the string, breaking at line boundaries.
sentence = "It was a stormy night\nThe house creeked\nThe wind blew."
print(sentence.splitlines())

['It was a stormy night', 'The house creeked', 'The wind blew.']

# What is the difference between replace and translate?

In [78]:
# REPLACE lets you substitute a single string for another single string, as well as remove character strings.
# TRANSLATE lets you make several single-character, one-to-one substitutions in one operation.

In [79]:
txt = 'I am currently pursuing Masters i.e. MBA in Finance'

txt.replace("MBA","MATH")

'I am currently pursuing Masters i.e. MATH in Finance'

In [81]:
txt = 'I am currently pursuing Masters i.e. MBA in Finance'

temp = txt.maketrans('MBA ','MATH')
txt.translate(temp)

'IHamHcurrentlyHpursuingHMastersHi.e.HMATHinHFinance'

# How to remove whitespace from left,right or both side of a string?

In [82]:
#strip(): returns a new string after removing any leading and trailing whitespaces including tabs (\t).
txt = ' I am currently pursuing Masters i.e. MBA in Finance '
txt.strip()

'I am currently pursuing Masters i.e. MBA in Finance'